.move-list-container{
    margin-bottom: 20px;
    h1{
        color: #AFA060;
        margin-bottom: 10px;
        font-size: 1rem;
    }
}


.move-preview{
    border-bottom: 1px solid black;
    padding: 10px 10px;
    background-color: #AFA060;
}